h1 , i {
    font-family: 'Red Hat Display', serif;
}
p {
    font-family: 'Staatliches', serif;
}

ul, a , h4 {
    font-family: 'Rasa', serif;
}
ul.nav {
  font-family: 'Rasa', sans-serif;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

li.nav {
  float: left;
}

li.nav a {
  display: inline-block;
  color: #987;
  text-align: center;
  padding: 28px 32px;
  text-decoration: none;
  font-family: 'Staatliches', serif;  
}

li.nav a:hover {
  background-color: white;
  color: #987;
}

a.active {
  background-color: black;
    color: #FFF;
    font-family: 'Staatliches', serif;
}

a.active:hover{
  background-color: #EEE;
  }

a {
    colour: blue;
}

a:hover {
    colour: purple;
    text-decoration: none;
}

.dropbtn {
  background-color: black;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 04px 06px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #333;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: black;}




